<div id="el-index">
  <h1>staffs</h1>
  <table>
    <thead>
      <tr>
        <th v-for="column in columns">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="staff in staffs">
        <td>{{ staff.name }}</td>
        <td>{{ staff.age }}</td>
        <td>{{ staff.joined_on }}</td>
      </tr>
    </tbody>
  </table>
</div>

