<div id="el-index">
  <h1>staffs</h1>
  <div class="search-form">
    <p>
      <label for="search-name">名前：</label>
      <input id="search-name" v-model="query.name_cont" @keyup.enter="search" placeholder="name like">
    </p>
    <p>
      <label for="search-age">年齢：</label>
      <input id="search-age" v-model.number="query.age_gt" @keyup.enter="search" type="number" placeholder="age">
    </p>
    <button v-on:click="search">Search</button>
  </div>
  <table>
    <thead>
      <tr>
        <th v-for="column in columns">{{ column }}</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="staff in staffs">
        <td>{{ staff.name }}</td>
        <td>{{ staff.age }}</td>
        <td>{{ staff.joined_on }}</td>
      </tr>
    </tbody>
  </table>
</div>

